.delete-vitae__popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.5);

    .delete-vitae__popup--main {
        animation: zoom .2s ease-in-out;
        width: 500px;
        border-radius: 20px;

        .delete-vitae__popup--main--title {
            border-radius: 20px 20px 0px 0px;
            padding: 19px 10px 18px;

            h3 {
                line-height: 23px;
            }

            .delete-vitae__popup--main--title--close {
                right: 20px;
                top: 46%;
                transform: translateY(-50%);
            }
        }

        .delete-vitae__popup--main--content {
            max-height: 700px;

            form {
                p {
                    padding: 48px 24px;
                    line-height: 1.8;
                    border-bottom: 1px solid #e5e5e5;
                }

                .delete-vitae__popup--main--content--action {
                    padding: 0 24px 24px;

                    button {
                        height: 42px;
                        border-radius: 12px;
                        padding: 11px 10px;
                        min-width: 140px;
                        line-height: 19px;
                    }

                    .cancel {
                        border: 1px solid #007580;
                        color: #007580;
                    }

                    .accept {
                        margin-left: 68px;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 770px) {
    .delete-vitae__popup--main--content {
        overflow-y: auto;
    }
}