:root {
    --logo-size: 90;
    --gray-cl20: #808080;
}

.f-24 {
    font-size: 24px;
}

.user-company__title {
    color: var(--color-primary);

    h4 {
        margin-bottom: 16px;
    }
}

.uc__item {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    background-color: #F6F6F6;
}

.uc__item {
    .logo_link {
        position: absolute;
        right: -40px;
        top: 20%;
        z-index: 1;
    }

    .uc__item--banner {
        height: 300px;
        object-fit: cover;
    }

    .uc__item--logo--block {
        object-fit: fill;
        border-radius: 100%;
        box-sizing: border-box;
        height: calc(var(--logo-size)* 0.0625* 1rem);
        width: calc(var(--logo-size)* 0.0625* 1rem);
    }

    .uc__item--logo {
        margin: auto;
        object-fit: contain;
    }
}

.uc__item--main--name {
    margin: 16px 0 8px 0;
    line-height: 1.5;

    a {
        color: #018081;
    }
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-18 {
    font-size: 18px;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_color {
    color: #007580;
}

.uc__item--main--cate--name {
    line-height: 16px;
}

.uc__item--main--contruct--description {
    margin-top: 16px;
}

.uc__item_right {
    max-height: 252px;
}

.uc__item--career--area {
    max-height: 290px;
}

.uc__item--job-count {
    padding: 2px;
    background-color: #018081;
    min-width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-right: 6px;
}

.uc__item--detail--area {
    a {
        padding: 6px 12px;
        border-radius: .25rem;
        font-size: 1rem;
        line-height: 1.5;
    }
}

.btn_hover_primary {
    transition: background-color .5s ease;
}

.uc__item>.company_infor::after {
    content: "";
    display: block;
    background-color: #BABABA;
    top: 0px;
    right: 0;
    height: 100%;
    width: 1px;
    position: absolute;
}

.uc__item--header {
    .uc__item--header--banner {
        height: 154px;
    }

    .uc__item--header--logo {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        border: 1px solid #fff;
        position: absolute;
        top: 20%;
        left: 20px;
        object-fit: contain;
        padding: 2px;
    }
}

.uc__item--main {
    padding: 0 24px;

    .uc__item--main--cate--name {
        margin-bottom: 16px;
    }
}

.uc__item--footer {
    padding: 0 24px;

    .btn_more_infor {
        padding: 8px 10px;
        color: #111;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn_count_job {
        font-weight: 400 !important;
    }
}

.cl_gray20 {
    color: var(--gray-cl20);
}

#cong-ty-noi-bat {
    background-color: #f0f2fa;
}

.button_slick_dot {
    color: #111;
    background-color: unset;
    border: 0;
    width: 32px;
    height: 32px;
    top: 50%;
    background: none;
    font-size: 24px;
}


.company__dots-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .slick-active {
        background: #111;
    }

    li {
        padding: 2px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        color: rgb(143, 143, 143);
        transition: .3s all;
        width: 11px;
        position: relative;
        z-index: 0;
        text-align: center;
        list-style: none;
        margin: 2px 4px 0 4px;
        height: 12px;
        width: 12px;
        background: #c2c1c1;
        border-radius: 50%;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            display: none;
        }
    }
}

.user-company__search {
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 244px;
    margin-top: 77.5px;
    padding-top: 64px;

    .user-company__search--banner {
        h2 {
            font-size: 2rem;
        }
    }

    .user-company__search--form {
        padding: 6px 8px;
        border-radius: 0.25rem;

        input {
            font-size: 1rem;
            line-height: 1.5;
        }

        input:focus {
            box-shadow: unset;
        }
    }
}

/*----------------------- select 2 custom css -----------------------*/
.select2-container--default .select2-selection--single {
    border: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 44px !important;
    font-size: 16px !important;
}

/*----------------------- end  select 2 custom css -----------------------*/


/*-------------------------------------------- Detail --------------------------------------------*/
.uc__detail--breadcrumb {
    margin-bottom: 1rem;

    ul {
        li:not(:first-child) {
            padding-left: 5px;
        }
    }
}

.uc__detail--banner {
    margin-bottom: 24px;

    .uc__detail--banner--inner {
        background: linear-gradient(to right, #008687, #6BAEAE);
        border-radius: 10px;
        min-height: 358px;

        .uc__detail--banner--cover {
            height: 224px;

            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .uc__detail--banner--logo {
        .uc__detail--banner--logo--img {
            border: 4.5px solid #fff;
            border-radius: 99px;
            height: 180px;
            width: 180px;
            position: absolute;
            left: 40px;
            top: -90px;

            img {
                height: 100%;
                object-fit: contain;
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    .uc__detail--banner--info {
        margin-top: 30px;
        padding-left: 252px;
        padding-right: 40px;
        column-gap: 32px;
        margin-bottom: 30px;

        .uc__detail--banner--info--detail {
            flex: 1 auto;

            .uc__detail--banner--info--detail--name {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                margin-bottom: 10px;
                margin-top: 0;
                max-width: 100%;
                overflow: hidden;
                width: fit-content;
            }
        }
    }
}

.text-highlight {
    color: #007580;
}

.text-secondary {
    color: #6c757d;
}

.uc__detail--banner--info--subdetail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    row-gap: 16px;
    column-gap: 20px;

    .uc__detail--banner--info--subdetail--icon {
        margin-right: 16px;
    }

    .uc__detail--banner--info--subdetail--text {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.uc__detail--banner--info--follow {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    color: #0b8281;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 194px;
    margin-left: 5px;
}

.uc__detail--company {
    .us__detail--company--introduce {
        border-radius: 10px 10px 0 0;
        margin: 0 0 24px;
        overflow: hidden;

        h2,
        h4 {
            background: linear-gradient(to right, #008687, #6BAEAE);
            line-height: 26px;
            padding: 12px 20px;
        }

        .us__detail--company--introduce--content {
            padding: 20px 20px 28px;

            p {
                margin: 16px 0;
            }
        }

        .us__detail--company--introduce--item--content {
            border-bottom: 1px solid #dee0e2;
            padding: 20px 20px 28px;

            .us__detail--company--introduce--content--item--title {
                margin-bottom: 8px;
            }

            .us__detail--company--introduce--content--item--content {
                color: #4d5965;
            }

            p {
                color: #212f3f;
                line-height: 20px;
                margin-bottom: 12px;
            }

            .copy_box {
                .link {
                    .link_copy {
                        margin-right: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: calc(100% - 58px);
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 400;
                        display: block;
                        background-color: #FAFAFA;
                        border-radius: 8px;
                        padding: 13px 12px;
                    }

                    .copyeid {
                        flex-shrink: 0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 42px;
                        height: 42px;
                        background: #F5FEFF;
                        border-radius: 8px;
                    }
                }
            }

            .sharing {
                a {
                    width: 42px;
                    height: 42px;
                    display: block;
                    margin-right: 16px;
                    text-align: center;
                    line-height: 41px;
                    border-radius: 50%;
                    border: 1px solid;
                    font-size: 18px;
                }

                .btn_facebook {
                    background-color: #3b5998;
                }

                .btn_linkedin {
                    background-color: #0a66c2;
                }

                .btn_twitter {
                    background-color: #1da1f2;
                }
            }
        }
    }

    .us__detail--company--job {
        margin: 0 0 24px;
        padding-bottom: 48px;

        h2 {
            background: linear-gradient(to right, #008687, #6BAEAE);
            line-height: 26px;
            padding: 12px 20px;
            border-radius: 10px 10px 0 0;
        }

        .us__detail--company--job--list {
            box-shadow: 0px 0px 10px 0px #0000001A;
            border-radius: 0 0 10px 10px;
            padding-bottom: 24px;

            .us__detail--company--job--list--item {
                padding: 15px 8px 15px 15px;
                border: 1px solid #DCDCDC;
                box-shadow: 0px 0px 10px 0px #0000001A;
                border-radius: 10px;

                .us__detail--company--job--list--item--logo {
                    flex: none;
                    width: 68px;
                    height: 68px;
                    border-radius: 4px;
                }

                .us__detail--company--job--list--item--job {
                    width: calc(100% - 126px);
                    padding-left: 10px;
                    line-height: 20px;

                    h3 {
                        padding-bottom: 5px;
                    }

                    p {
                        padding-bottom: 5px;
                    }
                }

                .us__detail--company--job--list--item--save-job {
                    .tooltip {
                        width: 50px;
                        opacity: 1;

                        .tooltiptext {
                            margin-left: -110px;
                            visibility: hidden;
                            width: 140px;
                            background-color: #555;
                            color: #fff;
                            text-align: center;
                            padding: 5px 0;
                            border-radius: 6px;
                            position: absolute;
                            z-index: 1;
                            bottom: 125%;
                            left: 65%;
                            margin-left: -60px;
                            opacity: 0;
                            transition: opacity 0.3s;
                        }
                    }
                }

                .us__detail--company--job--list--item--info {
                    margin-top: 15px;

                    .us__detail--company--job--list--item--info--item {
                        margin-bottom: 12px;
                        background-color: #f4f5f5;
                        margin-right: 5px;
                        border-radius: 4px;
                        color: #212f3f;
                        line-height: 16px;
                        padding: 4px 8px;
                    }
                }
            }

            .us__detail--company--job--list--item:hover {
                border: 1px solid rgb(19 132 136 / 20%);
                box-shadow: 0px 0px 10px 0px #0000001A;
                background: #f2f2f2;
                z-index: 1;
            }

        }
    }
}

.color_red {
    color: #FF3333;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

/*-------------------------------------------- Responsive --------------------------------------------*/
@media (min-width: 992px) {
    .ps-lg-5 {
        padding-left: 3rem !important;
    }
}

@media (max-width: 1200px) {
    .uc__detail--banner .uc__detail--banner--logo {
        .uc__detail--banner--logo--img {
            position: relative;
            left: auto;
            top: auto;
        }
    }

    .uc__detail--banner {
        .uc__detail--banner--info {
            align-items: center;
            flex-direction: column;
            margin-top: 0;
            padding-left: 24px;
            padding-top: 0;
        }
    }

    .uc__detail--banner--info--subdetail {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 992px) {
    .uc__item {
        .uc__item--banner {
            height: 140px;
        }

        .logo_link {
            right: unset;
            top: unset;
            left: 30px;
            bottom: 30px;
            width: 60px;
            height: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    :root {
        --logo-size: 70;
    }

    .user-company__search {
        padding-top: 10px;
    }

    .user-company__search {
        .user-company__search--form {
            background-color: transparent !important;
            padding: 0;
            border-radius: 0.25rem;

            input {
                font-size: 1rem;
                line-height: 1.5;
                height: 36px !important;
            }

            input:focus {
                box-shadow: unset;
            }
        }
    }

    .uc__detail--banner {
        .uc__detail--banner--logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
            margin-top: -50px;

            .uc__detail--banner--logo--img {
                height: 100px;
                width: 100px;
            }
        }

        .uc__detail--banner--info {
            padding-right: 16px;

            .uc__detail--banner--info--detail {
                .uc__detail--banner--info--detail--name {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .user-company__search {
        .user-company__search--banner {
            h2 {
                font-size: 20px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}