$navbar-font-size: 16px;
$color-primary:var(--color-primary);
$color-secondary: var(--color-secondary);
$primary-font: var(--primary-font);

$color-primary-hover: rgba(221, 0, 38, 0.8);
$bg-color-sub: #dd0026;

$bg_color_tin_xem_nhieu: #dd0026;
$bg_color_dong_su_kien: #dd0026;
$bg_color_dong_su_kien_first: #dd0026;

$nav-link-padding: 9px 35px;
$nav-link-padding-md: 9px 8px;
$nav-link-padding-ipad: 9px 8px;

$menu-color-hover: #EB1C24;
$menu-font-size: 15px;


$menu-footer-padding: 10px 20px;
$menu-footer-font-size: 12px;

$navbar-height: 50px !default;
$navbar-default-color: #777 !default;
$navbar-default-bg: #f8f8f8 !default;

$navbar-default-link-color: #777 !default;
$navbar-default-link-hover-color: #333 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color: #555 !default;

$container-lg: 1130px !default;

$document-font-size:14px;
/* colors */
$color-text: #333;
$color-title: #333;

$color-white: #ffffff;
$color-white-lite: #f2f4f5;
$color-white-dark: #f9f9f9;
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-black: #191919;
$color-gray: #6e6e6e;
$color-gray-lite: #ebebeb;
$color-gray-dark: #a6a6a6;
$color-red: #e23e1d;
$color-green: #1eb48e;
$color-info: #247cc6;
$color-yellow: #ffb136;
$border-color: #e1e1e1;
$border-color-lite: #e5e5e5;

/* screen size */

$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 576px;
$xs: 480px;

/* miscellaneous */

$radius-default: 2px;
$transition-default: 150ms ease-in-out;
$transition-primary: 200ms ease-in-out;



